:host {
    .center {
        display: flex;
        justify-content: center;
    }

    .box {
        //background-color: yellowgreen;
        //height: 850px;
        width: 700px;
        flex-direction: column;
        display: flex;
        justify-content: flex-end;
    }

    .inner-box {
        //background-color: gold;
        color: black;
        background-color: #fff;
        //height: 850px;
        //width: 700px;
        padding: 0px 90px 0px 90px;
        // flex-direction: column;
        // display: flex;
        // justify-content: flex-end;
    }

    h1 {
        position: relative;
        padding: 0 0 0px;
        font-weight: bold;
    }

    .contact-button {
        margin-top: 10px;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}