<div class="center">
    <div class="box">
        <div class="top-bg"></div>
        <div class="inner-box">
            <div class="close-container"><span class="close" (click)="close()">&times;</span></div>

            <h1>Let's Talk!</h1>
            <p>This is the content of the contact card.</p>

            <form [formGroup]="form" (ngSubmit)="save($event)">
                <app-input-field formControlName="name" [type]="'input'" [label]="'Name'">
                    <label appHint *ngIf="this.name?.errors?.['required']">Name is required</label>
                </app-input-field>
                <app-input-field formControlName="email" [type]="'input'" [label]="'Email'">
                    <label appError *ngIf="this.email?.errors?.['email'] && !this.email?.errors?.['required']">
                        Please enter a valid email address
                    </label>
                    <label appHint *ngIf="this.email?.errors?.['required']">Email is required</label>
                </app-input-field>
                <app-input-field formControlName="subject" [type]="'input'" [label]="'Subject'">
                    <label appHint *ngIf="this.subject?.errors?.['required']">Subject is required</label>
                </app-input-field>
                <app-input-field formControlName="message" [type]="'textarea'" [label]="'Message'">
                    <label appHint *ngIf="this.message?.errors?.['required']">Message is required</label>
                </app-input-field>
                <!-- <app-input-field [type]="'textarea'"></app-input-field> -->
                <!-- Send request -->
                <div class="contact-button">
                    <app-rounded-button [disabled]="form.invalid" type="submit" text="Send request">
                    </app-rounded-button>
                </div>
            </form>
        </div>
        <div class="bottom-bg"></div>
    </div>
</div>