@import 'headings';
@import 'variables';

:host {
    .box {
        background-color: $blue-purple-color;
        margin-top: 40px;

    }

    h2 {
        font-weight: bold;
        color: $white;
        text-align: center !important;
        padding-bottom: 40px;
    }

    .items {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 25px;
    }
}