@import 'src/styles/variables';

:host {
    // == primary-color ==
    .btn-solid,
    .btn-solid-dark {
        letter-spacing: 1px;
        display: inline-block;
        background: $primary-color;
        color: $white;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        border: 1px solid $primary-color;
        font-weight: 600;
        font-size: 0.75em;
        text-align: center;
        padding: 0.9375em 3.125em;
    }

    .btn-solid:focus,
    .btn-solid-dark:focus {
        background: $primary-color;
    }

    .btn-solid:hover,
    .btn-solid-dark:hover {
        background: $primary-dark-color;
    }

    // == secondary-color ==
    .btn-solid-secondary,
    .btn-solid-secondary-dark {
        letter-spacing: 1px;
        display: inline-block;
        background: $secondary-color;
        color: $white;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        border: 1px solid $secondary-color;
        font-weight: 600;
        font-size: 0.75em;
        text-align: center;
        padding: 0.9375em 3.125em;
    }

    .btn-solid-secondary:focus,
    .btn-solid-secondary-dark:focus {
        background: $secondary-color;
    }

    .btn-solid-secondary:hover,
    .btn-solid-secondary-dark:hover {
        background: $secondary-dark-color;
    }

    // == disabled-color ==
    .btn-disabled,
    .btn-disabled-dark {
        letter-spacing: 1px;
        display: inline-block;
        background: $disabled-color;
        color: $white;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        border: 1px solid $disabled-color;
        font-weight: 600;
        font-size: 0.75em;
        text-align: center;
        padding: 0.9375em 3.125em;
        cursor: not-allowed;
    }

    .btn-disabled:focus,
    .btn-disabled-dark:focus {
        background: $disabled-color;
    }

    .btn-disabled:hover,
    .btn-disabled-dark:hover {
        background: $disabled-color;
    }

    // == extras ==
    .round {
        border-radius: 35px;
    }

    button {
        cursor: pointer;
    }
}