<div class="box">
    <div class="inner-box">
        <h1>About me</h1>

        <div class="content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nostrum eligendi veniam deleniti libero quia
                molestias aliquid blanditiis illo eveniet placeat nobis voluptate perspiciatis, nesciunt fuga ea? Commodi,
                sed
                optio!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nostrum eligendi veniam deleniti libero quia
                molestias aliquid blanditiis illo eveniet placeat nobis voluptate perspiciatis, nesciunt fuga ea? Commodi,
                sed
                optio!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nostrum eligendi veniam deleniti libero quia
                molestias aliquid blanditiis illo eveniet placeat nobis voluptate perspiciatis, nesciunt fuga ea? Commodi,
                sed
                optio!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nostrum eligendi veniam deleniti libero quia
                molestias aliquid blanditiis illo eveniet placeat nobis voluptate perspiciatis, nesciunt fuga ea? Commodi,
                sed
                optio!</p>
        </div>
    </div>
</div>