@import 'src/styles/headings';
@import 'src/styles/variables';

:host {
    .box {
        background-color: $blue-purple-color;
        color: $white;
    }

    h1 {
        padding-top: 40px;
    }

    .inner-box {
        background-color: $haiti-color;
        margin-right: 20px;
        border-top-right-radius: 35px;
    }

    // .content {
    //     padding-top: 40px;
    //     padding-bottom: 40px;
    //     margin-left: 38%;
    //     margin-right: 38%;
    // }

    .wave {
        display: block;
    }

    .flex {
        /*Flexbox for containers*/
        display: flex;
        //justify-content: center;
        justify-content: center;
        align-items: center;
        text-align: left;
        flex-direction: column;
    }

    /*For mobile*/
    @media (max-width: 768px) {
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-left: 5%;
            margin-right: 5%;
            //background-color: yellow;
        }

        .inner-box {
            margin-right: 0px;
            border-top-right-radius: 0px;
        }
    }

    @media (min-width: 768px) {
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-left: 10%;
            margin-right: 10%;
            //background-color: yellow;
        }
    }

    @media (max-width: 1024px) {}

    @media (min-width: 1024px) {
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-left: 10%;
            margin-right: 10%;
            //background-color: chartreuse;
        }
    }

    @media (max-width: 1200px) {}

    @media (min-width: 1200px) {
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-left: 20%;
            margin-right: 20%;
            //background-color: aqua;
        }
    }

    @media (max-width: 1500px) {}

    @media (min-width: 1500px) {
        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-left: 30%;
            margin-right: 30%;
            //background-color: brown;
        }
    }
}