@import 'src/styles/headings';
@import 'src/styles/variables';

:host {
    .box {
        background-color: $blue-purple-color;
        color: $white;
    }

    h1 {
        padding-top: 40px;
    }

    .inner-box {
        background-color: $haiti-color;
        margin-right: 20px;
        border-top-right-radius: 35px;
    }

    .content {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}