/* Particles */
#particles-js {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}

// .gradient {
//     -webkit-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
//     -ms-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
//     -moz-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
//     -o-background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
//     background: linear-gradient(rgba(0, 198, 255, 0.95), rgba(0, 114, 255, 0.95));
// }