<div id="particles-css">
    <p>hero-header works!</p>
    <h1>German Fica</h1>
    <p>I'm a Unity Developer, Java Developer, Mobile Developer and passionate about computer science.</p>
    <button>See my projects</button>
    <app-rounded-button (click)="goLatestWorks()" text="See my projects"></app-rounded-button>
    <p>Or check my social medias:</p>
    <!-- GitHub -->
    <li><a href="https://github.com/germanfica"><i class="btn-github fa fa-github">GitHub</i></a></li>
    <!-- LinkedIn -->
    <li><a href="https://www.linkedin.com/in/germanfica"><i class="btn-linkedin fa fa-linkedin">LinkedIn</i></a>
    </li>
    <!-- YouTube -->
    <li><a href="https://www.youtube.com/user/TheIsFica"><i class="btn-google fa fa-youtube">YouTube</i></a></li>

    <!-- Particles by Vincent Garreau -->
    <div id="particles-js" class="gradient"></div>
    <div class="count-particles">
        <span class="js-count-particles"></span>
    </div>
</div>