<div id="particles-css">
    <p>hero-header works!</p>
    <!-- Content -->
    <div class="h-content">
        <h1>German Fica</h1>
        <p>I'm a Java Developer, Android Developer, Unity Game Programmer and passionate about computer science.</p>
        <app-rounded-button (click)="goLatestWorks()" text="See my projects"></app-rounded-button>
        <div class="mt20 ml40">
            <p class="mb5">Or check my social medias:</p>
            <app-social-media></app-social-media>
        </div>
    </div>

    <!-- Particles by Vincent Garreau -->
    <div id="particles-js" class="gradient"></div>
    <div class="count-particles">
        <span class="js-count-particles"></span>
    </div>
</div>