<div id="particles-css">
    <p>hero-header works!</p>
    <!-- Content -->
    <div class="h-content">
        <h1>German Fica</h1>
        <p>I'm a Java Developer, Android Developer, Unity Game Programmer and passionate about computer science.</p>
        <app-rounded-button (click)="goLatestWorks()" text="See my projects"></app-rounded-button>
        <div class="mt20 ml40">
            <p class="mb5">Or check my social medias:</p>
            <div class="social_tab inline quick fadeIn">
                <!-- Social Media -->
                <ul class="social_icons">
                    <!-- GitHub -->
                    <li><a href="https://github.com/germanfica"><i class="btn-github fa fa-github">GitHub</i></a></li>
                    <!-- LinkedIn -->
                    <li><a href="https://www.linkedin.com/in/germanfica"><i
                                class="btn-linkedin fa fa-linkedin">LinkedIn</i></a>
                    </li>
                    <!-- YouTube -->
                    <li><a href="https://www.youtube.com/user/TheIsFica"><i
                                class="btn-google fa fa-youtube">YouTube</i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Particles by Vincent Garreau -->
    <div id="particles-js" class="gradient"></div>
    <div class="count-particles">
        <span class="js-count-particles"></span>
    </div>
</div>