@import 'src/styles/variables';

:host {
    img {
        border-radius: 15px;
        object-fit: cover;
    }

    .card-img-left {
        margin-right: 2rem;
        //display: none;
    }

    .card-img-right {
        margin-left: 2rem;
        //display: none;
    }

    .card {
        //width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        min-width: 0;
        word-wrap: break-word;
        background-color: $white;
        //background-color: aquamarine;
        border-radius: .95rem;
    }

    .project-card {
        margin: auto;
        margin-bottom: 2rem;
        padding: 2rem;
        //width: 25rem;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2) !important;
    }
}