<div class="card project-card">
    <div>
        <h2>Project name</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas vel provident explicabo ullam temporibus quos
            suscipit distinctio laboriosam, dignissimos placeat voluptatem repellendus quo. Repudiandae consectetur
            soluta,
            impedit odit laudantium blanditiis!</p>
        <app-rounded-button text="View project" color="secondary"></app-rounded-button>
    </div>
    <img src="assets/svg/example2.svg" alt="" width="200px" height="200px">
</div>