h1 {
    position: relative;
    padding: 0 0 0px;
    font-weight: bold;
    text-align: center !important
}

h1:before {
    width: 75px;
    height: 6px;
    content: "";
    position: absolute;
    //bottom: 0;
    bottom: -10px;
    left: 50%;
    background-color: #F61067;
    transform: translateX(-50%);
}

// .text-center {
//     text-align: center !important
// }