/* Margins */
.mt40 {
    margin-top: 40px;
}

.mt20 {
    margin-top: 20px;
}

.ml40 {
    margin-left: 40px;
}

.mr20 {
    margin-right: 20px;
}

.mb5 {
    margin-bottom: 5px;
}

.mptb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}