// Colors variables
$primary-color: #F61067;
$secondary-color: #00b3ff;

$primary-dark-color: #e4095c;
$secondary-dark-color: #09a2e4;

$blue-purple-color: #6a37ff;
$blue-purple-dark-color: #542ccc;

$haiti-color: #1f1b3b;
$haiti-dark-color: #030308;
$disabled-color: #a8a8a8; // #eeeeee

$success-color: #51bb25;
$info-color : #a927f9;
$warning-color: #f8d62b;
$danger-color: #dc3545;
$loading-color: yellowgreen;

$black : #000;
$white:#fff;

// Angular material
$dialog-color: transparent;