// Colors variables
$primary-color: #F61067;
$secondary-color: #00b3ff;

$primary-dark-color: #e4095c;
$secondary-dark-color: #09a2e4;

$success-color: #51bb25;
$info-color : #a927f9;
$warning-color: #f8d62b;
$danger-color: #dc3545;

$black : #000;
$white:#fff;