<div class="box">
    <app-dialog></app-dialog>
    <div class="flex-footer">
        <img class="computer" height="230" src="assets/svg/computer.svg" alt="">
        <div class="flex-social">
            <!-- call to action -->

            <h2>Interested to work with me?</h2>

            <app-rounded-button (click)="openDialog()" class="contact-button" text="Let's talk!"></app-rounded-button>
            <app-social-media class="social-media"></app-social-media>
            
        </div>
        <img class="keyboard" height="230" src="assets/svg/keyboard.svg" alt="">
    </div>
</div>