<nav
    [ngClass]="{'sticky': isSticky, 'static': !isSticky, 'transparent': navbarStyle === 'transparent', 'colored': navbarStyle === 'colored'}">
    <div class="container">
        <a href="#" class="logo">MyLogo</a>
        <button class="menu-toggle menu-button" (click)="toggleMenu()">
            <i i-bs name="list" height="2em" width="2em"></i>
        </button>
        <ul class="menu" [ngClass]="{'active': menuActive}">
            <button *ngIf="menuActive" class="close-button" (click)="toggleMenu()">Close</button>

            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>