services:
  npm:
    image: 'jc21/nginx-proxy-manager:{{ APP_VERSION }}'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81' # Panel de administración
      - '443:443'
    volumes:
      - './data:/data'
      - './letsencrypt:/etc/letsencrypt'
    networks:
      - net
    restart: unless-stopped

networks:
  net:
    driver: bridge
    external: true
