<div class="social_tab inline">
    <ul class="social_icons">
        <li>
            <a href="https://github.com/germanfica">
                <i i-bs class="dot github" name="github" width="1em"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/germanfica">
                <i i-bs class="dot linkedin" name="linkedin" width="1em"></i>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/@germanfica">
                <i i-bs class="dot youtube" name="youtube" width="1em"></i>
            </a>
        </li>
    </ul>
</div>